@media screen and (max-width:991px) {

#noomfgdogs{
	font-size: 48px;
}

}

@media screen and (min-width:992px) {
	body{	
		background-image: url('omfgdogs.gif');
	}
	div#noomfgdogs{
		font-size: 2px;
	}
}

#link{
	font-weight: bold;
	font-family: "Impact";
	margin-top: 100%;
	margin-left: 75%;
	color: rgb(255, 255, 230);
}

